* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 3rem;
    background-color: rgb(25,25,25);
    color: rgb(214, 214, 214);
    min-height: 100vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* place-content: center; */
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

main {
    flex-grow: 1;
    display: grid;
    place-content: center;
}

a {
    text-decoration: none;
    color: #81dbb8;
}

a:hover {
    opacity: .85;
}

nav {
    width: 100vw;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}